<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <% include ../includes/metadata %>
    <title>地图</title>
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/amour.css">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/map.css">
    <% include ../includes/production %>
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body id="map-mark-wrapper">
    <header class="container header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">确定地点</span>
        </div>
        <div class="btn btn-link btn-back pull-left" data-route="return">
            <i class="ift ift-arrow-left"></i>
            <link class="rippleJS" />
        </div>
        <div class="btn btn-link btn-save pull-right hidden">
            <span>保存</span>
        </div>
    </header>
    <div class="container map-body">
        <div id="baidu-map-mark"></div>
        <img class="map-mark-marker" src="<%= static_url %>images/map_marker.png"/>
        <textarea name="map-address" id="map-address" placeholder="点击此处输入详细地址搜索地图， 如「XX省XX市XX区XX路XX号」(不要输入酒店名称)" rows='3'></textarea>
    </div>
    <footer class="footer-navbar footer-btn">
        <div class="map-mark-sure has-ripple hidden" data-marked="false">搜索定位</div>
    </footer>
</body>

<% include ../includes/javascripts %>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=qNG8rBhokW7RzZnaRN9ubujq"></script>

<script src="<%= cdn_url %>/javascripts/map-mark.js"></script>

<% include ../includes/analytics %>
</html>

