<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <% include ../includes/metadata %>
    <title>地图</title>
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/amour.css">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/map.css">
    <% include ../includes/production %>
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body id="map-settings-wrapper">
    <header class="container header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">地图设置</span>
        </div>
        <div class="btn btn-link btn-back pull-left" data-route="return">
            <i class="ift ift-arrow-left"></i>
            <link class="rippleJS" />
        </div>
        <div class="btn btn-link btn-save pull-right hidden">
            <span>保存</span>
        </div>
    </header>
    <div class="container map-body">
        <form>
            <div class="map-wrapper">
                <div class="btn-tips-map">
                    <i class="ift ift-map-marker"></i>
                    <span>定位地点</span>
                </div>
                <img class="map-img"/>
                <img class="map-marker hidden" src="<%= static_url %>images/map_marker.png"/>
            </div>
            <input class="text-center" name="map-location" id="map-location" placeholder="婚礼地点名称:酒店、会所、公园等">

            <textarea name="map-message" id="map-message" placeholder="这里可以描写一下过来的路线，交通工具、地铁几号口出来、附近有什么显著建筑物之类的" rows='3'></textarea>
        </form>
    </div>
</body>

<% include ../includes/javascripts %>

<script src="<%= cdn_url %>javascripts/map-settings.js"></script>
<% include ../includes/analytics %>
</html>

